{{#if session.isAuthenticated}}
  <div class="auth-form">
    {{session.currentUser.email}}
    <button {{action "signOut"}} class="auth-btn">Sign out</button>
  </div>
{{else}}
  <form class="auth-form" {{action "signIn" on="submit"}}>
    {{input type="email" value=email placeholder="admin@gmail.com"}}
    {{input type="password" value=password placeholder="123456"}}
    <button class="auth-btn" type="submit">Sign In</button>
  </form>
{{/if}}
