{{#if userName}}
  <div class="auth-form">
    {{userName}}
    <button {{action "logOut"}} class="auth-btn">Sign out</button>
  </div>
{{else}}
  <form class="auth-form" {{action "logIn" on="submit"}}>
    {{input type="email" value=email placeholder="admin@gmail.com"}}
    {{input type="password" value=password placeholder="123456"}}
    <button class="auth-btn" type="submit">Sign In</button>
  </form>
{{/if}}
